.button{
    -fx-background-image: url("componentImage/addPluginFileChooser.png");
    -fx-background-position: center center;
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.button .text{
    -fx-font-family: "Impact";
    -fx-font-size: 18px;
    -fx-effect: dropshadow(one-pass-box, black, 3, 1, 0.1, 0.1);
}