.check-box > .box{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-image: url("componentImage/CheckboxBg.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-padding: 15 11;

}

.check-box .mark {
    -fx-background-position: center center;
    -fx-padding: 15;
    -fx-translate-y: -10;
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
.check-box:selected .mark{
    -fx-background-color: green;
    /*-fx-background-image: url("componentImage/mark.png");*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-insets: 0;*/
    /*-fx-background-radius: 0;*/
    /*-fx-background-size: stretch;*/
    /*-fx-background-position: center;*/
}

